name: pr

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: cargo check core
              run: cargo check --workspace --all-targets

    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: run tests
              run: cargo test
              env:
                  ARBTEST_BUDGET_MS: "30000"
                  RUST_BACKTRACE: "1"

    flatc:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: install flatc
              run: cargo xtask download-flatc
            - name: generate sources
              run: cargo xtask generate
            - name: check for uncommitted filed
              run: cargo xtask check-uncommitted

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: format
              run: cargo fmt -- --check
            - name: clippy
              run: cargo xtask ci-clippy
